*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    padding: 20px;
}

.s1{
    background-image: url("./assets/papel-de-parede-paisagem-montanhas-geladas.jpg.webp");
    background-repeat: repeat;
    background-size: cover;
}

.s2{
    background-color: black;
}
.texto{
    background-color: white;
}