* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {

    --preto: #000000;
    --vermelho-escuro: #9F111B;
    --vermelho: #B11623;
    --cinza-escuro: #292C37;
    --braco-cinza: #CCCCCC;
}

.img-logo {
    width: 70px;
    height: auto;
}

section {
    height: 100vh;
}
main{
    
}
#s1 {
    /*tornando a sessão 1 flexivel*/
    display: flex;
    /*alinhando no centro*/
    align-items: center;
    justify-content: center;
    /*quando a tela for sendo apertada ela quebra para
        proxima linha*/
    flex-wrap: wrap;
    /*espaçamento de 2 pixels*/
    gap: 2px;
}

.s1-esquerda{
    width: 800px;
    color: var(--preto);
    border-radius: 20px;
    font-family: "Creepster", serif;
    font-weight: 400;
    font-style: normal;
}
.s1-direita{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    border-radius: 20px !important;
}

.br{
    border-radius: 20px !important;

}
.historia-esquerda{
    width: 400px;
}