*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

    :root{
        
        --preto: #000000;
        --vermelho-escuro: #9F111B;
        --vermelho: #B11623;
        --cinza-escuro: #292C37;
        --braco-cinza: #CCCCCC;
    }


/*
body{
 background-color: var(--preto);   
}
*/
.img-logo{
    width: 70px;
    height: auto;
}
#s1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 48px;
    flex-wrap: wrap;
    gap: 2vw;
}

.s1-esquerda{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
}

.s1-direita{
    width: 800px;
}


.carrossel{
    min-width: 100vw;
    min-height: 25vh;    

}
.foto-direita{
    width: 300px;
    height: 26vh;
    overflow: hidden;
    border-radius: 20px;

}




